<%= form_for(@token) do |f| %>
  <% if @token.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@token.errors.count, "error") %> prohibited this token from being saved:</h2>

      <ul>
      <% @token.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
    <div class="field">
    <%= f.label "First Name" %>
    <%= f.text_field :firstName, :placeholder=> "First Name" %>
  </div>
  
      <div class="field">
    <%= f.label "Last Name" %>
    <%= f.text_field :lastName, :placeholder=> "Last Name" %>
  </div>
  

  <!--<div class="actions btn btn-primary">-->
    <!--<%= f.submit %>-->
  <!--</div>-->
    <button type="submit" class="btn btn-primary">Generate Token</button>
<% end %>
