<%= form_for(@query) do |f| %>
  
  <%= f.select :action, ['printAll', 'showCar', 'createCar', 'addRandomCar', 'editCar', 'deleteCar']%>
  
    <div class="field">
    <%= f.label "API Token" %>
    <%= f.text_field :token %>
  </div>
  
      <div class="field">
    <%= f.label "Car ID" %>
    <%= f.text_field  %>
  </div>
  
        <div class="field">
    <%= f.label "VIN" %>
    <%= f.text_field  %>
  </div>
  
        <div class="field">
    <%= f.label "Make" %>
    <%= f.text_field  %>
  </div>
  
        <div class="field">
    <%= f.label "Model" %>
    <%= f.text_field  %>
  </div>
  
        <div class="field">
    <%= f.label "Year" %>
    <%= f.number_field  %>
  </div>
  
          <div class="field">
    <%= f.label "Color" %>
    <%= f.text_field  %>
  </div>
  
        <div class="field">
    <%= f.label "Owner First Name" %>
    <%= f.text_field  %>
  </div>
  
        <div class="field">
    <%= f.label "Owner Last Name" %>
    <%= f.text_field  %>
  </div>
  
  

  <!--<div class="actions btn btn-primary">-->
    <!--<%= f.submit %>-->
  <!--</div>-->
    <button type="submit" class="btn btn-primary">Generate Query</button>
<% end %>
