<h1>Car Database</h1>

<%= button_to 'Get Token', tokens_path, method: :get %>

<%= simple_format(

"This application is an example REST API. It contains a backend PostgreSQL database, with one table of cars.

The table contains the following attributes:

ID
VIN
Make
Model
Year
Color
ownerFirstName
ownerLastName

Listed below are some example CRUD operations that can be used. All methods below will return a json object."

) %>

<h1>Creating Entries</h1>

<%= simple_format(

"Cars can be added to the database using the API. Every car is required to have:
\n
VIN (17 characters, mix of capital letters and numbers)
Make
Model
Year
Color
Owner First Name
Owner Last Name

The following query is an example query that can be used as a format:

/createCar?vin=1GNDT13Z7M2303951&make=Ford&model=Explorer&year=1997&color=Green&ownerFirstName=Jeff&ownerLastName=Adams

Upon success, the user will be redirected to a json object of all current cars.

As an alternative, the button below will also enter a random car. It can also be used via /addRandomCar as an HTTP request."
) %>

<%= button_to 'Add Random Car', addRandomCar_path, method: :get %>

<h1>Reading Entries</h1>

<%= button_to 'Print All', printAll_path, method: :get %>

<%= simple_format(

"Prints all vehicles, parameters can be passed in to narrow down the search.
\n
ex. /printAll?make=Toyota
The above query will only list 'Toyota' vehicles
\n       
ex. /printAll?make=Toyota&color=White
The above query will only list vehicles that are BOTH 'Toyota' and 'White'

You can also pull up the info of an individual car by using the /showCar method. The user must pass in the id of the vehicle.

Example:

/showCar?id=10

The above query will pull up the data for a car with the ID of '10'"
) %>


<h1>Updating Entries</h1>

<%= simple_format("
You can also edit vehicles individually. This is done using the /editCar method. The user must pass in the 'id' argument. After that, any attribute can be modified.

Example:

/editCar?id=1&ownerFirstName=Jim

This query will find the car with the ID of '1', can change the first name of the owner to 'Jim'"

) %>

<h1>Deleting Entries</h1>

<%= simple_format(

"Any entry can be deleted using the API. The only required parameter is the ID (use printAll to look up the ID of the vehicles).

The following query will delete a vehicle with ID of '10':

/deleteCar?id=10

Upon success, the user will be redirected to a json object of all current cars."
) %>